body {
    height: 100%;
    background-color: #ECE6C2;
    font-family: "Press Start 2P" , cursive;
    margin: 0;
    padding: 0; 
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

img {
  margin-bottom: 0;
}

h1 {
  margin-top: 0;
}


.index-container {
    margin-top: 0;
    padding-top: 0;
    height: 100%;
    margin: auto;
    text-align:center;
    width: 50%;
    padding: 10px;
    color: #6F5643;
    

}


.layout {
    display: flex;
    align-items: flex-start;
    gap: 20px;
}

.leaderboard {
    color:#6F5643;
}

.tableHeader {
    color:#73BDA8;
}



.cursor {
  display: inline-block;
  animation: blink 1s  infinite;
  font-family: 'Press Start 2P', cursive;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

#start {
    background-color: #6F5643;
    color: #73BDA8;
    border: 3px solid #73BDA8;
    border-radius: 10px;
    font-size: 16px;
    font-family: 'Press Start 2P', cursive;
    padding: 16px 16px;
}

#start:hover {
    background-color: #D2A24C;
    color: #6F5643;
    border: 3px solid #6F5643;
}

#message-container {
    width: 600px;      
  height: 70px;    
  overflow: hidden;
}