body:not(.scrollable) {
    height: 100%;
    background-color: #ECE6C2;
    font-family: "Press Start 2P" , cursive;
    margin: 0;
    padding: 0; 
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

/* combie.php hat sehr viel Inhalt und muss daher scrollable sein, sonst passt nicht alles */
body.scrollable {
    height: 100%;
    background-color: #ECE6C2;
    font-family: "Press Start 2P" , cursive;
    margin: 0;
    padding: 0; 
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
  margin-bottom: 0;
}

h1, h2 {
  margin-top: 0;
  color:#73BDA8; 
}

/* der Anagramm-Header bekommt eine ID, da hier spezifisch aus Platzgründen das Margin verändert werden muss */
#anagramm-header {
  margin-bottom: 0px;
  margin-top: 5px;
}

/* allgemeiner Layout-Container, sodass alles zentriert ist */
.ctf-container {
    margin-top: 0;
    padding-top: 0;
    height: 100%;
    margin: auto;
    text-align:center;
    width: 50%;
    padding: 10px;
    color: #6F5643;
    

}

/* Leaderboard auf index.php */
.layout {
    display: flex;
    align-items: flex-start;
    gap: 20px;
}

.leaderboard {
    color:#6F5643;
}

.tableHeader {
    color:#73BDA8;
}



/* Start-Text auf index.php*/
.cursor {
  display: inline-block;
  animation: blink 1s  infinite;
  font-family: 'Press Start 2P', cursive;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}


/* allgemeiner Style für die Buttons */
.ctf-button {
    background-color: #6F5643;
    color: #73BDA8;
    border: 3px solid #73BDA8;
    border-radius: 10px;
    font-size: 16px;
    font-family: 'Press Start 2P', cursive;
    padding: 16px 16px;
    grid-column: 1 / span 2; 
    text-align: center;
}

.ctf-button:hover {
    background-color: #D2A24C;
    color: #6F5643;
    border: 3px solid #6F5643;
}

/* der continue-Button auf anagramms.php braucht aufgrund von Platzgründen eine leichte Anpassung des margin */
#continue-button {
    background-color: #6F5643;
    color: #73BDA8;
    border: 3px solid #73BDA8;
    border-radius: 10px;
    font-size: 16px;
    font-family: 'Press Start 2P', cursive;
    padding: 16px 16px;
    margin-top: 2px;
}

#continue-button:hover {
    background-color: #D2A24C;
    color: #6F5643;
    border: 3px solid #6F5643;
}


/*message index.php */
#message-container {
  width: 600px;      
  height: 70px;    
  overflow: hidden;
  text-align: center;
  display: inline-block;
}

/* dient des Stylings des "Anagramm"-Paragraphen, der mehrmals generiert wird. Es braucht Platz mit margin, sodass der Text gut lesbar ist */
p.anagramm {
  color:#73BDA8;
  margin-top: 0px;
  margin-bottom: 5px;
}

/* auf encryption.php. Kann später noch farbig gestyled werden */
textarea {
  resize: none;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* bei erfolgreicher SQL-Injection */
.login-field {
  display: grid;
  grid-template-columns: max-content 1fr;
  gap: 10px 20px;
  align-items: center;
  width: 400px;
  margin: 0 auto;
}

/* Bild auf combie.php */
#combie-picture {
  height: 100%;
  width: 100%;
}

/* Vergrößtertes Bild auf combie.php */
#combie-picture-large {
    max-width: 90vw;
    max-height: 90vh;
    box-shadow: 0 0 20px #000000;
}

/* Overlay für das vergrößerte Bild auf combie.php */
#image-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Sicherstellen, dass es über anderen Inhalten liegt */
}

/* Styles für das Modal Fenster */
/* Modal-Overlay */
.modal {
    display: none; /* Standard: versteckt */
    position: fixed;
    z-index: 2000;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    overflow: auto;
    background-color: rgba(0,0,0,0.6); /* halbtransparentes Schwarz */
    justify-content: center;
    align-items: center;
}

/* Modal-Inhalt */
.modal-content {
    background-color: #ECE6C2;
    margin: auto;
    padding: 30px 20px;
    border: 3px solid #73BDA8;
    border-radius: 12px;
    width: 60%;
    max-width: 500px;
    box-shadow: 0 0 20px #000000;
    color: #6F5643;
    font-family: 'Press Start 2P', cursive;
    font-size: 16px;
    position: relative;
    text-align: left;
}

.modal .close {
    position: absolute;
    top: 10px;
    right: 18px;
    font-size: 20px;
    color: #6F5643;
}